Bank Note Authentication

Data were extracted from images that were taken from genuine and forged banknote-like specimens. For digitization, an industrial camera usually used for print inspection was used. The final images have 400x 400 pixels. Due to the object lens and distance to the investigated object gray-scale pictures with a resolution of about 660 dpi were gained. Wavelet Transform tool were used to extract features from images.

In [1]:
##Dataset Link: https://www.kaggle.com/ritesaluja/bank-note-authentication-uci-data
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('BankNote_Authentication.csv')

In [3]:
df.head(100)

    variance  skewness  curtosis   entropy  class
0    3.62160    8.6661  -2.80730 -0.446990      0
1    4.54590    8.1674  -2.45860 -1.462100      0
2    3.86600   -2.6383   1.92420  0.106450      0
3    3.45660    9.5228  -4.01120 -3.594400      0
4    0.32924   -4.4552   4.57180 -0.988800      0
..       ...       ...       ...       ...    ...
95  -0.64472   -4.6062   8.34700 -2.709900      0
96   2.95430    1.0760   0.64577  0.893940      0
97   2.16160   -6.8804   8.15170 -0.081048      0
98   3.82000   10.9279  -4.01120 -5.028400      0
99  -2.74190   11.4038   2.53940 -5.579300      0

[100 rows x 5 columns]

In [4]:
### Independent and Dependent features
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [5]:
X.head()

   variance  skewness  curtosis  entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [6]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: class, dtype: int64

In [7]:
### Train Test Split
from sklearn.model_selection import train_test_split

In [8]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [9]:
### Implement Random Forest classifier
from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier()
classifier.fit(X_train,y_train)

RandomForestClassifier()

In [10]:
## Prediction
y_pred=classifier.predict(X_test)

In [11]:
### Check Accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)

In [12]:
score

0.9927184466019418

In [13]:
### Create a Pickle file using serialization
import pickle
pickle_out = open("classifier.pkl","wb")
pickle.dump(classifier, pickle_out)
pickle_out.close()

In [14]:
import numpy as np

In [15]:
classifier.predict([[2,3,4,1]])

array([0], dtype=int64)